
    <div class="c-certificates">
        <div class="o-section">
            <div class="o-wrap">
            
                <div class="o-header o-header--shape">
                    <h2 class="o-lead o-lead--2 anim anim--delay4 anim--right">Nasza wiarygodność</h2>
                </div>
    
                <div class="o-cols o-cols--2 anim anim--up">
                    <div class="o-cols__item">
                        <div class="o-article">
                            
                            <h3>Jakość świadczonych usług potwierdziliśmy zdobywając uznane w branży certyfikaty.</h3>

                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore. magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Officia deserunt mollit anim id est laborum. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit.</p>
                            
                            
                        </div>
                    </div>
                    
                    <div class="o-cols__item">
                        
                        <ul class="c-certificates__list">
                            <li>
                                <div class="icon">
                                    <img src=<%= require("./img/assets/certificate-1.svg") %> width="120" height="120" alt="">
                                </div>
                                
                                <div class="description">
                                    <div class="o-article">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
                                    </div>
                                    
                                    <a href="<%= require("./img/photos/clients.jpg") %>" class="o-btn o-btn--minor js-image">Zobacz certyfikat</a>
                                </div>
                            </li>
                            
                            <li>
                                <div class="icon">
                                    <img src=<%= require("./img/assets/certificate-2.svg") %> width="120" height="120" alt="">
                                </div>
                                
                                <div class="description">
                                    <div class="o-article">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
                                    </div>
                                    
                                    <a href="#" class="o-btn o-btn--minor">Zobacz certyfikat</a>
                                </div>
                            </li>
                            
                            <li>
                                <div class="icon">
                                    <img src=<%= require("./img/assets/certificate-sqas.svg") %> width="138" height="90" alt="">
                                </div>
                                
                                <div class="description">
                                    <div class="o-article">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
                                    </div>
                                    
                                    <a href="#" class="o-btn o-btn--minor">Zobacz certyfikat</a>
                                </div>
                            </li>
                        </ul>
                        
                    </div>
                </div>
    
            </div>
        </div>
    </div>
