

    <div class="c-contact">
        <div class="o-section">
            <div class="o-wrap">
                
                <div class="o-header o-header--shape">
                    <h2 class="o-lead o-lead--2 anim anim--delay4 anim--right">Napisz do nas</h2>
                </div>
                
                <div class="o-cols o-cols--2">
                    <div class="o-cols__item anim anim--up">

                        <article class="o-article">
                            <h3>Officia deserunt mollit anim id est laborum lorem</h3>
    
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore. magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
    
                                <p>&nbsp;</p>
    
                                <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit.</p>
                        </article>
                    </div>

                    <div class="o-cols__item anim anim--delay2 anim--up">
                            
                        <dl class="o-iconbox">
                            <dt class="icon">
                                <img src=<%= require("./img/assets/icon-contact.svg") %> alt="" width="70" height="70">
                            </dt>
                            
                            <dd>
                                <div class="o-article">
                                    
                                    <h3>Skontaktuj się z nami</h3>
                                    
                                    <p>FYI: <a href="mailto:info@sealand.pl">info@sealand.pl</a></p>
                                    <p>+ 48 601 615 133</p>
                                    <p>+ 48 505 022 793</p>
                                    <p>+48 517 854 589</p>
                                </div>
                            </dd>
                        </dl>
                        
                        <dl class="o-iconbox">
                            <dt class="icon">
                                <img src=<%= require("./img/assets/icon-mail.svg") %> alt="" width="70" height="70">
                            </dt>
                            
                            <dd>
                                <div class="o-article">
                                    
                                    <h3>Head Office:</h3>
                                    
                                    <p>Sealand Liquids sp. z o.o</p>
                                    <p>ul. Azymutalna 11-B2,</p>
                                    <p>80-298 Gdańsk, Poland</p>
                                    <p>NIP/VAT 5862296395</p>
                                    
                                    <p>&nbsp;</p>
                                    
                                    <p>+48 58 987 65 43 / +48 987 654 321</p>
                                    <p><a href="mailto:operations@liquids.com.pl">operations@liquids.com.pl</a></p>
                                    <p><a href="mailto:info@liquids.com.pl">info@liquids.com.pl</a></p>
                                </div>
                            </dd>
                        </dl>
                    </div>
                </div>                
            </div>
        </div>
        
        <div class="c-map u-padding">
            <div class="c-map__area is-loading js-map" data-lat="54.3856997" data-lng="18.4642351" data-marker=<%= require("./img/assets/icon-pin.png") %>></div>
        </div>
    </div>
