
    <div class="c-cooperation">
        
        <div class="c-cooperation__tabs">
            <div class="o-wrap">
                <ul>
                    <li>
                        <a href="#klienci" class="o-btn o-btn--minor js-goto">Jestem klientem</a>
                    </li>
                    
                    <li>
                        <a href="#przewoznicy" class="o-btn o-btn--minor js-goto">Jestem przewoźnikiem</a>
                    </li>
                    
                    <li>
                        <a href="#kierowcy" class="o-btn o-btn--minor js-goto">Jestem kierowcą</a>
                    </li>
                </ul>
            </div>
        </div>

        
        <div class="o-section">
            <div class="o-wrap">
            
                <div id="klienci">
                    <div class="o-header o-header--shape">
                        <h2 class="o-lead o-lead--2 anim anim--delay4 anim--right">Klienci korporacyjni</h2>
                    </div>
    
                    <div class="o-cols o-cols--2">
                        <div class="o-cols__item">
                            
                            <article class="o-article">
                                <h3>Officia deserunt mollit anim id est laborum</h3>
    
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore. magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    
                                <p>Officia deserunt mollit anim id est laborum. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit. Officia deserunt mollit anim id est laborum. Nemo enim ipsam voluptatem quia voluptas sit.</p>
                            </article>
                        </div>
                        
                        <div class="o-cols__item">
                            <article class="o-article">
                                <h3>Co oferujemy:</h3>
                                
                                <ul>
                                    <li>
                                        <h4>Lorem ipsum dolor sit amet</h4>
                                        <p>Znamy wartość czasu. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore</p>
                                    </li>
                                    
                                    <li>
                                        <h4>Lorem ipsum dolor sit amet</h4>
                                        <p>Znamy wartość czasu. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore</p>
                                    </li>
                                    
                                    <li>
                                        <h4>Lorem ipsum dolor sit amet</h4>
                                        <p>Znamy wartość czasu. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore</p>
                                    </li>
                                    
                                    <li>
                                        <h4>Lorem ipsum dolor sit amet</h4>
                                        <p>Znamy wartość czasu. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore</p>
                                    </li>
                                </ul>
                            </article>
                        </div>
                    </div>
                    
                    
                    <div class="c-cooperation__image c-cooperation__image--1">
                        <img src=<%= require("./img/photos/cooperation-1.jpg") %> alt="" width="1240" height="620">
                    </div>
                </div>


                <div id="przewoznicy">
                    <div class="o-header o-header--shape">
                        <h2 class="o-lead o-lead--2 anim anim--delay4 anim--right">Przewoźnicy</h2>
                    </div>
    
                    <div class="o-cols o-cols--2">
                        <div class="o-cols__item">
                            
                            <article class="o-article">
                                <h3>Officia deserunt mollit anim id est laborum</h3>
    
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore. magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    
                                <p>Officia deserunt mollit anim id est laborum. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit. Officia deserunt mollit anim id est laborum. Nemo enim ipsam voluptatem quia voluptas sit.</p>
                            </article>
                        </div>
                        
                        <div class="o-cols__item">
                            <article class="o-article">
                                <h3>Co oferujemy:</h3>
                                
                                <ul>
                                    <li>
                                        <h4>Lorem ipsum dolor sit amet</h4>
                                        <p>Znamy wartość czasu. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore</p>
                                    </li>
                                    
                                    <li>
                                        <h4>Lorem ipsum dolor sit amet</h4>
                                        <p>Znamy wartość czasu. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore</p>
                                    </li>
                                    
                                    <li>
                                        <h4>Lorem ipsum dolor sit amet</h4>
                                        <p>Znamy wartość czasu. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore</p>
                                    </li>
                                    
                                    <li>
                                        <h4>Lorem ipsum dolor sit amet</h4>
                                        <p>Znamy wartość czasu. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore</p>
                                    </li>
                                </ul>
                            </article>
                        </div>
                    </div>
                </div>  
            </div>
        </div>
        
        <div class="c-cooperation__drivers u-padding">
            <div class="o-section">
                
                <div class="c-cooperation__image c-cooperation__image--2">
                    <img src=<%= require("./img/photos/cooperation-2.jpg") %> alt="" width="1240" height="620">
                </div>
                
                <div class="o-section bg-gray">            
                    <div class="o-wrap">
                        
                        <div id="kierowcy">
                            <div class="o-header o-header--shape">
                                <h2 class="o-lead o-lead--2 anim anim--delay4 anim--right">Kierowcy</h2>
                            </div>
                            
                            <div class="o-cols o-cols--2">
                                <div class="o-cols__item">
                                    
                                    <article class="o-article">
                                        <h3>Officia deserunt mollit anim id est laborum</h3>
            
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore. magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            
                                        <p>Officia deserunt mollit anim id est laborum. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit. Officia deserunt mollit anim id est laborum. Nemo enim ipsam voluptatem quia voluptas sit.</p>
                                    </article>
                                </div>
                                
                                <div class="o-cols__item">
                                    <article class="o-article">
                                        <h3>Co oferujemy:</h3>
                                        
                                        <ul>
                                            <li>
                                                <h4>Lorem ipsum dolor sit amet</h4>
                                                <p>Znamy wartość czasu. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore</p>
                                            </li>
                                            
                                            <li>
                                                <h4>Lorem ipsum dolor sit amet</h4>
                                                <p>Znamy wartość czasu. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore</p>
                                            </li>
                                            
                                            <li>
                                                <h4>Lorem ipsum dolor sit amet</h4>
                                                <p>Znamy wartość czasu. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore</p>
                                            </li>
                                            
                                            <li>
                                                <h4>Lorem ipsum dolor sit amet</h4>
                                                <p>Znamy wartość czasu. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore</p>
                                            </li>
                                        </ul>
                                    </article>
                                </div>
                            </div>                        
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
