
    <footer class="c-footer">
        <div class="o-wrap">
            <div class="o-cols">
                <div class="o-cols__item">
                     <% include logo %>
                </div>
                
                <div class="o-cols__item">
                    
                    <div class="c-footer__address">
                        <i class="icon-mail"></i>
                        <address>
                            <p>Sealand Liquids sp. z o.o.</p>
                            <p>ul. Azymutalna 11</p>
                            <p>80-298 Gdańsk</p>
                            <p>NIP 5862296395</p>
                        </address>
                    </div>
                </div>
                
                <div class="o-cols__item">
                    <div class="c-footer__address">
                        <i class="icon-contact"></i>
                        <address>
                            <p>+48 58 987 65 43</p>
                            <p>+48 987 654 321</p>
                            <p><a href="mailto:operations@liquids.com.pl">operations@liquids.com.pl</a></p>
                            <p><a href="mailto:info@liquids.com.pl">info@liquids.com.pl</a></p>
                        </address>
                    </div>
                </div>
                
                <div class="o-cols__item">
                    <p>
                        <a href="#">Polityka prywatności</a>
                    </p>
                </div>
            </div>
        </div>
    </footer>
