
    <div class="c-history">
        <div class="o-section">
            <div class="o-wrap">
                
                <div class="o-header o-header--shape">
                    <h2 class="o-lead o-lead--2 splitting--right js-split" data-splitting>Historia firmy</h2>
                </div>
                
                <div class="o-cols o-cols--2">
                    <div class="o-cols__item anim anim--up">
                        <div class="o-lead o-lead--2">
                            <p>Lorem ipsum dolor sit consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                        </div>
                    </div>
                    
                    <div class="o-cols__item anim anim--delay2 anim--up">
                        <article class="o-article">
                            
                            <p>Znamy wartość czasu. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore. magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                            
                            <p>&nbsp;</p>

                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
                            
                            <p>&nbsp;</p>
                            
                        </article>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
