
    <div class="c-homevideo">
        <div class="o-wrap">
            <div class="o-title">
                <h1 class="o-lead anim anim--delay4 anim--right">
                    Lorem ipsum dolor<br>
                    sit amet lorem
                </h1>
            </div>
            
            <a href="#uslugi" class="icon-arrow-down js-goto"></a>
        </div>
        <!--
        <video playsinline autoplay muted loop class="c-homevideo__video" id="video">
            <source src=<%= require("./img/sealand_01.mov") %> type="video/mp4">
        </video>
        -->
    </div>
