
    <div class="c-homevideo">
        <div class="o-wrap">
            <div class="o-title">
                <h1 class="o-lead">
                    Lorem ipsum dolor<br>
                    sit amet lorem
                </h1>
            </div>
            
            <i class="icon-arrow-down"></i>
        </div>
    </div>
