
        <nav class="c-nav js-nav">
            <ul class="c-nav__menu js-menu">
                <li>
                    <a href="about.html">O nas</a>
                </li>
                
                <li>
                    <a href="certificates.html">Certyfikaty</a>
                </li>
                
                <li>
                    <a href="services.html">Oferta</a>
                </li>
                
                <li>
                    <a href="cooperation.html">Współpraca</a>
                </li>
                
                <li>
                    <a href="contact.html">Kontakt</a>
                </li>
            </ul>
            

            <div class="c-lang">
                <div class="c-lang__current">pl</div>

                <ul>

                    
                    <li class="lang-item lang-item-3 lang-item-pl lang-item-first">
                        <a lang="pl-PL" hreflang="pl-PL" href="http://sealand.cutme.pl/">en</a>
                    </li>
                    
                    <li class="lang-item lang-item-3 lang-item-pl lang-item-first">
                        <a lang="pl-PL" hreflang="pl-PL" href="http://sealand.cutme.pl/">ru</a>
                    </li>
                    
                    <li class="lang-item lang-item-3 lang-item-pl lang-item-first">
                        <a lang="pl-PL" hreflang="pl-PL" href="http://sealand.cutme.pl/">de</a>
                    </li>
                </ul>
            </div>
        </nav>
