
    <div class="c-quality anim anim--up">
        <div class="o-section bg-gray">
            <div class="o-wrap">
            
                <div class="o-header o-header--shape">
                    <h2 class="o-lead o-lead--2 anim anim--delay4 anim--right">Osobiście dbamy o jakość</h2>
                </div>
    
                <div class="o-cols o-cols--2 anim anim--up">
                    <div class="o-cols__item">
                        <dl class="o-addressbox">
                            <dt>
                                <i class="icon-contact"></i>
                            </dt>
                            
                            <dd>
                                <div class="lead">
                                    <p class="name">Andrzej Kowalski</p>
                                    <p>dyrektor zarządzający Sealand Transport</p>
                                </div>
                                
                                <p>Masz pytanie? Chętnie odpowiem</p>
                                <p><a href="mailto:a.kowalski@sealand.pl">a.kowalski@sealand.pl</a></p>
                                <p>+48 58 987 65 43</p>
                            </dd>
                        </dl>
                    </div>
                    
                    <div class="o-cols__item">
                        <dl class="o-addressbox">
                            <dt>
                                <i class="icon-contact"></i>
                            </dt>
                            
                            <dd>
                                <div class="lead">
                                    <p class="name">Andrzej Kowalski</p>
                                    <p>dyrektor zarządzający Sealand Transport</p>
                                </div>
                                
                                <p>Masz pytanie? Chętnie odpowiem</p>
                                <p><a href="mailto:a.kowalski@sealand.pl">a.kowalski@sealand.pl</a></p>
                                <p>+48 58 987 65 43</p>
                            </dd>
                        </dl>
                    </div>
                </div>
    
            </div>
        </div>
    </div>
