
    <div class="c-service anim anim--up">
        <div class="o-section">
            <div class="o-wrap">
            
                <div class="o-header o-header--shape">
                    <h2 class="o-lead o-lead--2 splitting--right js-split" data-splitting>Szczegóły usługi</h2>
                </div>

                <div class="o-cols o-cols--2">
                    <div class="o-cols__item">
                        
                        <dl class="o-iconbox">
                            <dt>
                                <img src=<%= require("./img/assets/icon-contact.svg") %> alt="" width="70" height="70">
                            </dt>
                            
                            <dd>
                                <div class="o-article">
                                    
                                    <h3>Długi nagłówek wprowadzający</h3>
                                    
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore. magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                                    
                                    <p>&nbsp;</p>

                                    <p>Officia deserunt mollit anim id est laborum. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit. Officia deserunt mollit anim id est laborum. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit.</p>
                                </div>
                            </dd>
                        </dl>
                        
                    </div>
                    
                    <div class="o-cols__item">
                        <article class="o-article">
                            <h3>Charakterystyka usługi:</h3>
                            
                            <ul>
                                <li>
                                    <h4>Lorem ipsum dolor sit amet</h4>
                                    <p>Znamy wartość czasu. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore</p>
                                </li>
                                
                                <li>
                                    <h4>Lorem ipsum dolor sit amet</h4>
                                    <p>Znamy wartość czasu. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore</p>
                                </li>
                                
                                <li>
                                    <h4>Lorem ipsum dolor sit amet</h4>
                                    <p>Znamy wartość czasu. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore</p>
                                </li>
                                
                                <li>
                                    <h4>Lorem ipsum dolor sit amet</h4>
                                    <p>Znamy wartość czasu. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore</p>
                                </li>
                            </ul>
                        </article>
                    </div>
                </div>
                    
            </div>
        </div>
    </div>
