
    <div class="c-standout u-padding">
        <div class="o-section bg-gray">
            <div class="o-wrap">
                
                <div class="o-header o-header--shape">
                    <h2 class="o-lead o-lead--2 anim anim--right">Co nas wyróżnia</h2>
                </div>
                
                <div class="o-cols o-cols--2f">
                    <div class="o-cols__item anim anim--up">
                        <div class="o-lead o-lead--2">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor irure consectetur, adipisci</p>
                        </div>
                    </div>
                    
                    <div class="o-cols__item anim anim--delay2 anim--up">
                        <article class="o-article">
                            <h3>Współpraca z klientami korporacyjnymi:</h3>
                            
                            <ul>
                                <li>Znamy wartość czasu. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et </li>
                                <li>Dogadujemy się z całym światem. Posługujemy się 6 językami: angielskim, niemieckim, francuskim...</li>
                                
                                <li>Nasze usługi są szyte na miarę. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.incididunt ut labore et dolore.</li>
                            </ul>
                            
                            <h3>Współpraca z przewoźnikami i kierowcami:</h3>
                            
                            <ul>
                                <li>Profesjonalne doradztwo personalne pomoc w rekrutacji oraz selekcji kandydatow do pracy</li>
                                <li>Profesjonalne doradztwo personalne pomoc w rekrutacji oraz selekcji kandydatow do pracy</li>
                                <li>Profesjonalne doradztwo personalne pomoc w rekrutacji oraz selekcji kandydatow do pracy</li>
                            </ul>
                        </article>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
