
    <div class="c-topimage" style="background-image: url(<%= require("./img/top/certificates.jpg") %>);">
        <div class="o-wrap">
            <div class="o-title">
                <h1 class="o-lead">Certyfikaty</h1>
            </div>
        </div>        
    </div>



