
    <div class="c-topimage" style="background-image: url(<%= require("./img/top/contact.jpg") %>);">
        <div class="o-wrap">
            <div class="o-title">
                <h1 class="o-lead anim anim--delay4 anim--right">Gdzie i jak<br> działamy</h1>
            </div>
        </div>        
    </div>



