
    <div class="c-where">
        <div class="o-section">
            <div class="o-wrap">
    
                <div class="o-cols o-cols--2f">
                    <div class="o-cols__item">
                        <div class="o-article">
                            <h3>Istnieje wiele powodów, aby z nami współpracować. Jednym z nich jest nasz ogólnoświatowy zasięg</h3>
                            
<p>Poznaj miejsca do których  docieramy na co dzień. Officia deserunt mollit anim id est laborum. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit. Officia deserunt mollit anim id est laborum. Nemo enim ipsam voluptatem quia voluptas sit.</p>
                        </div>
                    </div>
                    
                    <div class="o-cols__item">
                        <div class="c-where__map">
                            <img src=<%= require("./img/assets/map.png") %> alt="map" width="1162" height="721">
                        </div>
                    </div>
                </div>
    
            </div>
        </div>
    </div>
