.o-addressbox {
    @extend %flex;
    
    a {
        &:hover {
            .desktop & {
                color: $c-primary;
            }
        }
    }
    
    [class^="icon-"] {
        font-size: rem(60);
        color: $c-primary;
        
        @media ( max-width: $tablet + px ) {
        	font-size: tablet(60);
        }
    }
    
    dt {
        width: 105px;
        padding-left: 10px;
        
        @media ( max-width: $tablet + px ) {
        	width: tablet(105);
        }
        
        @media ( max-width: $tablet_portrait + px ) {
        	display: none;
        }
    }
    
    dd {
        flex: 1;
        color: $c-gray-04;        
        font-family: $gomme;
    }
    
    .lead {
        padding-bottom: 20px;
        margin-bottom: 20px;
        border-bottom: 1px solid $c-gray-01;
    }
    
    .name {
        font-size: rem(24);
        
        @media ( max-width: $tablet + px ) {
        	font-size: tablet(24);
        }
        
        @media ( max-width: $tablet_portrait + px ) {
            font-size: rem(20);
        	
        }
    }
}