.o-article {
    color: $c-gray-04;

    h3 {
        @extend %lead;
        @extend %lead--2;
        margin-bottom: 1.5em;
        color: $c-black-02;
        
        @media ( max-width: $tablet + px ) {
        	font-size: rem(20);
        }
    }
    
    h4 {
        @extend %lead;
        @extend %lead--3;
        margin-bottom: 1.5em;
        color: $c-black-02;
    }
    
    ul {
        margin-bottom: 40px;

        li {
            @extend %rel;
            padding-left: 105px;
            margin-bottom: 20px;
            padding-bottom: 20px;
            
            @media ( max-width: $tablet + px ) {
            	padding-left: tablet(105);
            }
            
            @media ( max-width: $smartphone_portrait + px ) {
            	padding-left: 60px;
            }
            
            &:not(:last-child) {
                border-bottom: 1px solid $c-gray-01;
            }
            
            &:before {
                @extend %abs-pseudo;
                @extend %anim;
                text-align: center;
                left: 0;
                width: 105px;
                font: {
                    family: $icomoon;
                    size: rem(40);
                }
                color: $c-primary;
                content: "\e901";
                
                @media ( max-width: $tablet + px ) {
                	width: tablet(105);
                	font-size: rem(30);
                }                
            }
            
            &:hover {
                &:before {
                    .desktop & {
                        
                        transform: translate3d(10px, 0, 0);
                        
                    }
                }
            }
            
            h4 {
                margin-bottom: .3em;
            }
        }
    }
    
    &--big {
        p {
            @extend %lead;
            @extend %lead--2;
            
            @media ( max-width: $smartphone_portrait + px ) {
            	font-size: rem(20);
            }
        }
    }
}