.o-article {
    color: $c-gray-04;

    h3 {
        @extend %lead;
        @extend %lead--2;
        margin-bottom: 1.5em;
        color: $c-black-02;
    }
    
    h4 {
        @extend %lead;
        @extend %lead--3;
        margin-bottom: 1.5em;
        color: $c-black-02;
    }
    
    ul {
        margin-bottom: 40px;

        li {
            @extend %rel;
            padding-left: 105px;
            margin-bottom: 20px;
            padding-bottom: 20px;
            
            &:not(:last-child) {
                border-bottom: 1px solid $c-gray-01;
            }
            
            &:before {
                @extend %abs-pseudo;

                text-align: center;
                left: 0;
                width: 105px;
                font: {
                    family: $icomoon;
                    size: rem(40);
                }
                color: $c-primary;
                content: "\e901";
            }
            
            h4 {
                margin-bottom: .3em;
            }
        }
    }
    
    &--big {
        p {
            @extend %lead;
            @extend %lead--2;
        }
    }
}