.o-cols {
    @extend %flex;
	width: 100%;
	
	 &--2 {
        @extend %flex-spacebetween;
        
        @media ( max-width: $smartphone_portrait + px ) {
        	display: block;
        }
    	 
        .o-cols {
            &__item {
                
                @media ( min-width: $smartphone_portrait + 1px ) {
                    width: grid(610);
                    
                    &:first-of-type {
                        padding-right: grid(105);
                    }
                }
                
                &:first-of-type {
                    @media ( max-width: $smartphone_portrait + px ) {
                        margin-bottom: 40px;
                    }
                }
            }
        }
    }
    
    &--2f {
        
        @media ( max-width: $smartphone + px ) {
            display: block;
        }
        
        .o-cols {            
            &__item {
                    
                @media ( min-width: $smartphone + 1px ) {
                    &:first-of-type {
                        width: grid(505);
                        padding-right: grid(105);
                    }
                    
                    &:last-of-type {
                        flex: 1;
                    }
                }
                
                &:first-of-type {
                    @media ( max-width: $smartphone + px ) {
                    	margin-bottom: 40px;
                    }
                }
            }
        }
    }
    
    &--3 {
        @extend %flex-spacebetween;
        @extend %flex-wrap;
        
        .o-cols {
            &__item {
                width: calc( (100% / 3) - 20px );
                
                @media ( max-width: $tablet_portrait + px ) {
                	width: calc( (100% / 2) - 20px );
                }
            }
        }
    }
    
    &--list {
        .o-cols {
            &__item {
                padding: 20px 0;
                border-bottom: 1px solid $c-gray-01;
                
                @media ( min-width: $tablet_portrait + 1px ) {
                    &:nth-last-child(1),
                    &:nth-last-child(2),
                    &:nth-last-child(3) {
                        border: none;
                    }
                }
                
                @media ( max-width: $tablet_portrait + px ) {
                	&:nth-last-child(1),
                    &:nth-last-child(2) {
                        border: none;
                    }
                }
            }
        }
    }
    
/*
    &__listitem {
        @extend %flex;
        @extend %flex-y;

        .icon {
             @extend %flex;
            @extend %flex-xy;
            width: 85px; height: 60px;
            margin-right: 20px;

            img {
                margin: 0 auto;
            }
        }        

        .name {
            color: $c-gray-04;
        }
    } 
*/
}

