.o-iconbox {
    
    @extend %flex;
    @extend %flex-y;
    
    @media ( max-width: $smartphone_portrait + px ) {
    	display: block;
    	text-align: center;
    }
    
/*
    dt {
        width: 85px;
        margin-right: 20px;
        padding-top: 8px;
        
        img {
            margin: 0 auto;
        }
    }
*/
    
    dd {
        flex: 1;
    }
    
    
    &:not(:last-of-type) {
        margin-bottom: 40px;
        padding-bottom: 40px;
        border-bottom: 1px solid $c-gray-01;
    }
    
    .icon {
        flex-shrink: 0;
        width: 85px;
        margin-right: 20px;
        padding-top: 8px;
        
        @media ( max-width: $base + px ) {
            width: base(85);
        	margin-right: base(20);
        }
        
        @media ( max-width: $tablet_portrait + px ) {
        	width: 50px;
        	margin-right: 15px;
        }
        
        @media ( max-width: $smartphone_portrait + px ) {
            margin: 0 auto 10px auto;
        }
        
        img {
            margin: 0 auto;
        }
    }
    
    .name {
        display: block;
        line-height: 1.5em;
            
        @media ( max-width: $tablet_portrait + px ) {
            font-size: rem(16);
        }
    }
    
}