.c-certificates {
   
   &__list {
       li {
           @extend %flex;
           padding: 40px 0;
            
           &:not(:last-child) {
               border-bottom: 1px solid $c-gray-01;
           }
           
           @media ( max-width: $smartphone + px ) {
           	   flex-direction: column;
           	   text-align: center;
           }
           
           &:first-child {
               padding-top: 0;
           }
       }
       
       .icon {
           
            @media ( min-width: $smartphone + px ) {
               width: 210px;
            }
           
            @media ( max-width: $smartphone + px ) {
                margin-bottom: 30px;
                
                img {
                    margin: 0 auto;
                }
            }
       }
       
       .description {
           flex: 1;
           
           .o-article {
               margin-bottom: 30px;
           }
       }
   } 
}
