.c-homevideo {
    @extend %rel;
    height: 100vh;
    overflow: hidden;
    
    &:after {
        @extend %abs-pseudo;
        left: 0; top: 0;
        width: 100%; height: 100%;
        background: linear-gradient(to right, rgba(0,0,0,1) 0%, rgba(255,255,255,0) 100%);
        opacity: .4;
    }
/*
    background: {
        image: url(../img/top/home.jpg);
        size: cover;
        position: center;
    }
*/
    
    &__video {
        width: 100%; height: auto;
    }
    
    .o-wrap {
        @extend %abs;
        @extend %abs-x;
        @extend %flex;
        @extend %flex-y;
        height: 100%;
    }
    
    .icon-arrow-down {
        @extend %abs;
        @extend %abs-x;
        bottom: 40px;
        line-height: 1;
        font-size: rem(50);
        color: $c-gray-02;
    }
}