@keyframes pulse {
    0%   {
        background: white;
    }
    50% {
        background: #efefef;
    }
    
    100% {
        background: white;
    }
}

.c-map {
    padding: 0 40px 40px 40px;

    &__area {
        @extend %rel;
        height: 690px;
            
    
        &.is-loading {
            animation: pulse 1s infinite;
        }
    }
}
