.c-nav {
        display: flex;
    margin: 0 0 0 auto;
    
    @media ( max-width: $tablet + px ) {
        display: flex;
    }
    
    &__menu {

        @media ( min-width: $tablet + 1px ) {
            display: flex;
            align-items: center;
        }
        
        @media ( max-width: $tablet + px ) {
            margin-bottom: 20px;
        }
        
        li {
            padding: 0 25px;
            border-right: 1px solid $c-gray-01;
            
            @media ( max-width: $tablet + px ) {
            	
            }
        }
        
        a {
            @extend %flex;
            @extend %flex-y;
            height: 40px;
            text-transform: uppercase;
            font: {
                family: $gomme;
                size: rem(16);
            }
            color: white;
            
            &:hover {
                .desktop & {
                    color: $c-primary;
                }
            }
        }
    }
    
    
    
    
    @media ( max-width: $tablet + px ) {
        position: fixed;
        left: 0; top: 0;
        flex-direction: column;
        justify-content: center;
        width: 100%; height: 100vh;
        background-color: $c-black-01;
        text-align: center;
        transform: translate3d(100%, 0, 0);
        
       /*
 .c-top {
            &__language,
            &__currency {
                opacity: 0;
                transform: translate3d(0, 10px, 0);
                transition: all 3000ms ease;
            }
            
            &__language {
                transition-delay: 700ms;
            }
            
            &__currency {
                transition-delay: 750ms;
            }
        }
*/

        .c-nav__menu {
            & > li {  
                opacity: 0;
                transform: translate3d(0, 10px, 0);
                transition: all 300ms ease;
                
                &:nth-child(1) {
                    transition-delay: 300ms;
                }
                                                      
                &:nth-child(2) {
                    transition-delay: 350ms;
                }
                               
                &:nth-child(3) {
                    transition-delay: 400ms;
                }
                
                &:nth-child(4) {
                    transition-delay: 450ms;
                }
                
                &:nth-child(5) {
                    transition-delay: 500ms;
                }
                
                &:nth-child(6) {
                    transition-delay: 550ms;
                }
                
                &:nth-child(7) {
                    transition-delay: 600ms;
                }
                
                &:nth-child(8) {
                    transition-delay: 650ms;
                }
                
                &:nth-child(9) {
                    transition-delay: 700ms;
                }
                
                &:nth-child(10) {
                    transition-delay: 750ms;
                }
                
                & > a {
                    padding: 8px 0;
                    font-size: rem(16);
                    color: white;
                    
                    @media ( max-width: $smartphone_portrait + px ) {
                    	font-size: rem(14);
                    }
                }
            }
        }
        
        &.is-visible {
            transition: all 300ms ease;
            transform: translate3d(0,0,0);

            li {
                opacity: 1;
                transform: translate3d(0, 0, 0);
            }
            
            .c-top {
                &__language,
                &__currency,
                &__signinup  {
                    opacity: 1;
                    transform: translate3d(0, 0, 0);
                }
            }
        }
    } 
}