.c-servboxes {
        
    img {
        @media ( max-width: $smartphone + px ) {
        	width: 100%;
        }
    }
        
    .o-cols {
        @extend %flex-spacebetween;
        
        @media ( max-width: $smartphone + px ) {
        	flex-wrap: wrap;
        	width: calc(100% + 20px);
        	margin: 0 -10px;
        }
        
        @media ( max-width: $smartphone_portrait + px ) {
            width: calc(100% + 10px);
            margin: 0 -5px;
        }
        
        &__item {
            width: grid(295);
            
            @media ( max-width: $smartphone + px ) {
                width: 50%;
                margin-bottom: 20px;
                padding: 0 10px;
            }
            
            @media ( max-width: $smartphone_portrait + px ) {
                padding: 0 5px;
                margin-bottom: 10px;
            }
            
            .o-box {
                &:after {
                    background-color: $c-primary;
                }
            }
        }
    }
}
