.c-topimage {
    @extend %rel;
    height: 600px;
    background: {
        size: cover;
        position: center;
    }
    padding-top: 120px;

    .o-wrap {
        @extend %abs;
        @extend %abs-x;
        @extend %flex;
        @extend %flex-y;
        bototm: 0;
        height: calc(100% - 120px);
    }
}