<% include ./src/includes/head %>
<body>
    <% include ./src/includes/cover %>
    <% include ./src/includes/top %>

    <% include ./src/includes/topimage-about %>
    <% include ./src/includes/history %>
    <% include ./src/includes/clients %>
    <% include ./src/includes/more %>
    <% include ./src/includes/footer %>    

</body>
</html>


