<% include ./src/includes/head %>
<body>
    <% include ./src/includes/cover %>
    <% include ./src/includes/top %>

    <% include ./src/includes/topimage-contact %>    
    <% include ./src/includes/contact %> 
    <% include ./src/includes/footer %>    

</body>
</html>


