<% include ./src/includes/head %>
<body>
    <% include ./src/includes/cover %>
    <% include ./src/includes/top %>

    <% include ./src/includes/topimage-service %>
    <% include ./src/includes/services %>   
    <% include ./src/includes/quality %>
    <% include ./src/includes/footer %>    

</body>
</html>


