<% include ./src/includes/head %>
<body>
    <% include ./src/includes/cover %>
    <% include ./src/includes/top %>

    <% include ./src/includes/topimage-where %>    
    <% include ./src/includes/where %> 
    <% include ./src/includes/methods %> 
    <% include ./src/includes/footer %>    

</body>
</html>


